{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name pozn-adaptive.pay.subs, :imports nil, :requires {re-frame re-frame.core, re-frame.core re-frame.core}, :cljs.spec/speced-vars [], :uses nil, :cljs.spec/registry-ref [], :require-macros nil, :cljs.analyzer/constants {:seen #{:sum_price :sale-receipts :payment :active-receipt :sum-price :active-items :pozn-adaptive.pay.subs/active-receipt-sum-and-payment}, :order [:pozn-adaptive.pay.subs/active-receipt-sum-and-payment :sum-price :payment :sum_price :sale-receipts :active-receipt :active-items]}, :doc nil}