{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name pozn-adaptive.menu.subs, :imports nil, :requires {re-frame re-frame.core, re-frame.core re-frame.core, s clojure.string, clojure.string clojure.string}, :cljs.spec/speced-vars [], :uses nil, :cljs.spec/registry-ref [], :require-macros nil, :cljs.analyzer/constants {:seen #{:menu-items :short_name :dish-search-query :pozn-adaptive.menu.subs/search-query :pozn-adaptive.menu.subs/filtered-dishes}, :order [:pozn-adaptive.menu.subs/search-query :dish-search-query :pozn-adaptive.menu.subs/filtered-dishes :menu-items :short_name]}, :doc nil}