{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name pozn-adaptive.tables.subs, :imports nil, :requires {re-frame re-frame.core, re-frame.core re-frame.core}, :cljs.spec/speced-vars [], :uses nil, :cljs.spec/registry-ref [], :require-macros nil, :cljs.analyzer/constants {:seen #{:tables-view :pozn-adaptive.tables.subs/active-area :<- :pozn-adaptive.tables.subs/active-tables-view :table-areas :pozn-adaptive.tables.subs/table-areas :pozn-adaptive.tables.subs/active-items :id :active-items :active-table :pozn-adaptive.tables.subs/active-area-tables}, :order [:pozn-adaptive.tables.subs/active-items :active-items :pozn-adaptive.tables.subs/table-areas :table-areas :pozn-adaptive.tables.subs/active-tables-view :<- :tables-view :pozn-adaptive.tables.subs/active-area :active-table :pozn-adaptive.tables.subs/active-area-tables :id]}, :doc nil}