{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name pozn-adaptive.menu-db, :imports nil, :requires nil, :cljs.spec/speced-vars [], :uses nil, :defs {menu-items-vector {:name pozn-adaptive.menu-db/menu-items-vector, :file "src/cljs/pozn_adaptive/menu_db.cljs", :line 3, :column 1, :end-line 3, :end-column 23, :meta {:file "/home/aleksandr/projects/pozn-adaptive/src/cljs/pozn_adaptive/menu_db.cljs", :line 3, :column 6, :end-line 3, :end-column 23}, :tag cljs.core/IVector}}, :cljs.spec/registry-ref [], :require-macros nil, :cljs.analyzer/constants {:seen #{:description :tags :ings :group :c_time :short_name :weight :id :fractional :serving_order3 :serving_order4 :full_name :price}, :order [:description :tags :ings :group :c_time :short_name :weight :id :fractional :serving_order3 :serving_order4 :full_name :price]}, :doc nil}