{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name pozn-adaptive.subs, :imports nil, :requires {re-frame re-frame.core, re-frame.core re-frame.core}, :cljs.spec/speced-vars [], :uses nil, :cljs.spec/registry-ref [], :require-macros nil, :cljs.analyzer/constants {:seen #{:pozn-adaptive.subs/window-width :pozn-adaptive.subs/active-items :layout :pozn-adaptive.subs/slide-template-map :pozn-adaptive.subs/layout :modal-windows :slide-template :pozn-adaptive.subs/modal :active-items :window-width}, :order [:pozn-adaptive.subs/layout :layout :pozn-adaptive.subs/active-items :active-items :pozn-adaptive.subs/modal :modal-windows :pozn-adaptive.subs/window-width :window-width :pozn-adaptive.subs/slide-template-map :slide-template]}, :doc nil}