{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name pozn-adaptive.statistic.subs, :imports nil, :requires {re-frame re-frame.core, re-frame.core re-frame.core}, :cljs.spec/speced-vars [], :uses nil, :cljs.spec/registry-ref [], :require-macros nil, :cljs.analyzer/constants {:seen #{:statistic :pozn-adaptive.statistic.subs/get-statistic}, :order [:pozn-adaptive.statistic.subs/get-statistic :statistic]}, :doc nil}