{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name pozn-adaptive.sale-receipt-list.subs, :imports nil, :requires {re-frame re-frame.core, re-frame.core re-frame.core}, :cljs.spec/speced-vars [], :uses nil, :cljs.spec/registry-ref [], :require-macros nil, :cljs.analyzer/constants {:seen #{:sale-receipts :table :background :style :label :id :class :paid? :pozn-adaptive.sale-receipt-list.subs/sale-receipts :sent? :sum}, :order [:pozn-adaptive.sale-receipt-list.subs/sale-receipts :paid? :sent? :background :table :id :sum :class :style :label :sale-receipts]}, :doc nil}